@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.app {
  background: rgb(255, 255, 255);
}

.content {
  background: rgb(255, 255, 255);
  margin-top: -92vh;
  margin-left: 260px;
}

.table {
  width: 99.5%;
  border: solid;
  border-width: 0.5px;
  border-color: rgb(199, 199, 199);
  border-top: none;
  border-left: none;
  border-right: none;
}

.titulopagina {
  font-size: 35px;
}

.botoncrear {
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  margin-right: 15px;
  margin-top: -25px;
  text-decoration: none;
  background: rgb(67, 172, 233);
  color: white;
  align-content: flex-end;
}

.cardscollection {
  padding-top: 50px;
}

.layout {
  width: 45%;
  margin: 0 auto;
  padding-top: 50px;
}